*.pyc
*.pyc
widgets/__pycache__/footer_widget.cpython-312.pyc
widgets/__pycache__/footer_widget.cpython-312.pyc
data/thermo_history.csv
data/thermo_values.json
widgets/__pycache__/footer_widget.cpython-312.pyc
